* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --header-color: #518ecf;
    --aside-color: #ea702b;
    --main-color: #9c9a9c;
    --footer-color: #66a23f;
}

body {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
    font-size: 1.0rem;
    height: 100%;
    width: 100%;
    grid-template: 100px 300px 100px / 100%;
    grid-row-gap: 1.0rem;
    text-align: center;
    color: white;
    padding: 1.0rem;
}

.container .container--item {
    display: flex;
    background: lightblue;
    padding: 10px;
    border: 1px solid black;
    justify-content: center;
}

.container .container--item:nth-of-type(2) {
    background: white;
    border: 0;
}


/* Header */

.container .container--item.header {
    border-radius: 0.5rem;
    background: var(--header-color);
}


/* Footer */

.container .container--item.footer {
    border-radius: 0.5rem;
    background: var(--footer-color);
}


/* Main Container */

.container .container--item.main {
    display: grid;
    column-gap: 1.0rem;
    grid-template: 100% / 20% 80%;
}

.container .container--item__main {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    background: var(--main-color);
}

.container .container--item__aside {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    background: var(--aside-color);
}


/* 
.item:nth-of-type(4) {
    background: blue;
    display: grid;
    grid-template: 50PX 50px 50px 50px100px 100px 100px 100px 100px;
    overflow: auto;
} */